<!DOCTYPE html>
<html>
  <head>
    <title>Graficación</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <script src="../static/html2canvas.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center" style="padding-top: 70px">
        {% if grafico_html%}
          <div id="grafico-container">{{grafico_html|safe}}</div>
        {% else %}
        
            {% for key, value in graficos_html.items %}
                <div class="graph-container">
                    <h2 class="graph-title">Gráfico {{ forloop.counter }}</h2>
                    {{ value|safe }}
                </div>
            {% empty %}
                <p>No se generaron gráficos. Por favor verifica tus datos.</p>
            {% endfor %}
        {% endif %}
      </div>
      <div class="row justify-content-center" style="padding-top: 50px">
        <form
          action="{% url 'home' %}"
          class="col-auto"
          style="margin-left: 100px"
        >
          <button type="submit" class="btn btn-danger col-auto">Atrás</button>
        </form>

        <button onclick="descargarPNG()" class="btn btn-success col-auto">
          Guardar
        </button>
        <script>
          function descargarPNG() {
            
            html2canvas(document.querySelector("#grafico-container")).then(
              (canvas) => {
                const enlace = document.createElement("a");
                enlace.download = "grafico-mpld3.png";
                enlace.href = canvas.toDataURL("image/png");
                enlace.click();
              }
            );
          }
        </script>
      </div>
    </div>
  </body>
</html>
